.container-fluid{
    width: 100%;
    position: absolute;
}
body{
    background-color: #000000;
    color: #FFFFFF;
    margin-top: 14px;
    position: relative;
}
h{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    margin-left: 78px;
    position: absolute;
}
.btn-warning{
    background-color: #0e7199;
    color: #FFFFFF;
    border-radius: 0px;
    border-color: #0e7199;
    padding: 10px 20px;
    margin: 120px;
    margin-top: 50px;
    margin-bottom: 40px;
}
.btn-warning:hover{
    background-color: #0e7199;
    color: #FFFFFF;
    border-color: #0e7199;
}
.list-group-item{
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
}
.list-group-item:hover{
    color:#0e7199;
}
.search{
    background-color: #3e3e3e;
    color: white;
    font-size: 17px;
    padding: 7px 90px;
    border: none;
    outline: none;
    text-align: left;
    position: absolute;
}
.edit{
    color: #0e7199;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    float: right;
}
.edit:hover{
    color:#0e7199;
}
h2{
    background-color: #0e7199;
    font-size: 27px;
    width: 20%;
    text-align: center;
    margin-top: 1px;
    margin-bottom: 15px;
}
.email-from{
    font-weight: bold;
    font-size: 17px;
}
.email-date{
    color: #a6a6a6;
    font-weight: thin;
    font-size: 12px;
    text-align: right;
    float: right;
    margin-top: 5px;
}
.email-title{
    color: #f9f9f9;
    font-size: 16px;
}
.email-subject{
    font-size: 14px;
    color: #f9f9f9;
}
.from-to-time{
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
}
.email-select{
    background-color: #0e7199;
}
.reply{
    color: #0e7199;
    font-size: 19px;
    font-weight: bold;
    float: right;
    text-align: right;
    margin-top: 1px;
    margin-left: 2px;
}
.reply:hover{
    color:#0e7199;
}
.icons{
    float: right;
}
h3{
    font-family: papyrus;
    font-size: 30px;
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 1;
}
h4{
    font-size: 18px;
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 2;
}
h5{
    font-size: 15px;
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 3;
}
.verify-email{
    color: white;
    font-size: 24px;
    text-decoration: white;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 155px;
    line-height: 1;
}
.verify-email:hover{
    color: white;
    text-decoration: none;
}
p1{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 6px;
    margin-left: 92px;
    line-height: 6;
}
p2{
    font-size: 12px;
    color: #a4a2a5;
    margin-left: 88px;
    margin-top: 30px;
}
p3{
    font-size: 12px;
    color: #a4a2a5;
    margin-left: 130px;
    line-height: 9;
}
